main.home {
  height: 100vh;
  background-image: url("https://science.nasa.gov/science-pink/s3fs-public/thumbnails/image/Earth%20Day_2021_Desktop_1280x1800_0.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  background-color: darkolivegreen;
  display: grid;
  grid-template-rows: 1fr auto 150px;
  place-items: center;
  gap: 0.5rem;
}

img.main-image {
  width: 350px;
  border-radius: 10px;
}

h2.title {
  color: white;
  font-size: 3rem;
  font-weight: bolder;
}

button.home-shop {
  width: 250px;
  height: 75px;
  font-size: 3rem;
  font-weight: bolder;
  border-radius: 20px;
  background-color: fuchsia;
  color: white;
  cursor: pointer;
  border: white solid 2px;
}

button.home-shop:hover {
  background-color: white;
  color: fuchsia;
  border: fuchsia solid 2px;
}
