main.products-page {
  display: grid;
  grid-template:
    "filters header header" 100px
    "filters container container" 1fr /
    300px 1fr;
  background-color: thistle;
  height: 100vh;
  width: 100%;
}

header {
  grid-area: header;
  display: grid;
  grid-template-columns: 1fr auto;
  padding: 3rem;
}

button.products-button {
  padding: 1%;
  font-size: 1.5rem;
  width: 125px;
  height: 40px;
  border-radius: 15px;
  font-weight: bold;
  display: grid;
  place-content: center;
}

button.filter {
  background-color: darkslateblue;
  color: white;
  border: white solid 2px;
  justify-self: left;
  display: grid;
  place-content: center;
  align-self: end;
}

button.filter:hover {
  border: darkslateblue solid 2px;
  color: darkslateblue;
  background-color: white;
  transition: 1s;
}



section.filters {
  grid-area: filters;
  background-color: thistle;
}

section.container {
  grid-area: container;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem;
  background-color: thistle;
}
